<!DOCTYPE html>
<html>
<head>
    <title>My webpage</title>
</head>
<body>
    <h1>Welcome to My Express App!</h1>
    <p>this is the home route for express ejs</p>
    <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname">
      </form>
</body>
</html>
